{% set form = hookable_metadata.context.form %}
{% set factory_name = form.vars.data.gatewayConfig.factoryName|default(null) %}

{% if factory_name != 'paygreen' %}
    <div class="col-12 col-md-6 mt-5">
        {{ form_row(form.gatewayConfig.usePayum, sylius_test_form_attribute('use-payum')|merge({ label_attr: { class: 'checkbox-switch' } })) }}
    </div>
{% endif %}
